.container {
  @apply flex justify-center flex-1 flex-auto flex-shrink-0;
}

.footer {
  @apply flex-shrink-0;
}

.footer > .wrapper {
  width: 300px;
  @apply mx-auto;
}

.hide {
  @apply hidden;
}

.canvas {
  @apply shadow-md;
}

@media only screen and (min-width: 480px) {
  .canvas {
    width: 400px;
    height: 600px;
  }

  .footer > .wrapper {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .canvas {
    width: 600px;
    height: 900px;
  }

  .footer > .wrapper {
    width: 600px;
  }
}
